@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Header Home*/

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}

#header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #62cfea;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a:hover {
  color: red
}

/* Slideshow container */

.slideshow-container {
  position: relative;
  margin-top: 25px;
  padding: 0;
  list-style: none;
}

/* /* images by default */
.mySlides {
  display: block;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* next button */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* Products Flexbox */

#proflex .flexcontainer {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  flex-wrap: wrap;
}

#proflex .flexcontainer>div {
  margin-top: 50px;
}

#proflex .prod {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  margin: 100px 0px transition 0.2s ease;
  position: relative;
}

#proflex .prod img {
  width: 100%;
  border-radius: 20px;
}

#proflex .prod .des {
  text-align: start;
  padding: 10px 0;
}

#proflex .prod .des span {
  color: aquamarine;
  font-size: 12px;
}

#proflex .prod .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#proflex .prod .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: red;
}

#myBtn {
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: rgb(62, 45, 252);
  font-weight: 500;
  color: white;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(246, 221, 221);
  background-color: rgba(158, 158, 243, 0);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}
